:root {
    --light_blue: #C0D6E4;
    --slider_blue: #add3eb;
    --white: #FFFFFF;
    --gray: #474747;
    --dark_blue: #606B72;
    --blue: #6497b1;
    --background_white: #EEEEEE;
    --font: 'Nunito', sans-serif;
}
